/* Add mobile styles for the component here.  */
label#header{
    font-weight: bold;
    font-size: 20px;
}
label{
    text-align: center;
}
Button{
    border-width: 3;
    border-color: black;
    border-radius: 20;
    background-color: black;
    color: white;
}