/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400&display=swap');
html, body { height: 100%; }
body { margin: 0; font-family: "Quicksand", "Helvetica Neue", sans-serif;overflow: hidden; line-height: 1.6;}

