<app-navbar></app-navbar>
<div class="pricing" >
  <p id="title"> Choose the best option for your business </p>
  <mat-grid-list cols="3" rowHeight="1:1" role="list" >
    <mat-grid-tile role="listitem">
      <mat-card>
        <mat-card-title id="header-1"> Small </mat-card-title>
        <mat-card-content>
        <span id="header-2" >$9.99/Month</span>
        <mat-list id="list-features">
          <span>Includes:</span>
          <mat-list-item> <mat-icon matListIcon>check_box </mat-icon>Up to 15 employees</mat-list-item>
          <mat-list-item> <mat-icon matListIcon>check_box </mat-icon>2 locations max</mat-list-item>
          <mat-list-item> <mat-icon matListIcon>check_box </mat-icon>Dashboard and inventory compiling</mat-list-item>
          <mat-list-item> <mat-icon matListIcon>check_box </mat-icon>Free mobile apps</mat-list-item>
        </mat-list>
      </mat-card-content>
        <mat-card-actions> <button (click)="choosePlan(small)" mat-button color ="primary"> Choose Plan </button> </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile role="listitem">
      <mat-card>
        <mat-card-title id="header-1"> Medium </mat-card-title>
        <mat-card-content>
        <span id="header-2" >$15.99/Month</span>
        <mat-list id="list-features">
          <span>Includes:</span>
          <mat-list-item> <mat-icon matListIcon>check_box </mat-icon>All features included in Small </mat-list-item>
          <mat-list-item> <mat-icon matListIcon>check_box </mat-icon>Up to 30 employees</mat-list-item>
          <mat-list-item> <mat-icon matListIcon>check_box </mat-icon>6 locations max</mat-list-item>
          <mat-list-item> <mat-icon matListIcon>check_box </mat-icon>Staff Scheduling </mat-list-item>
          <mat-list-item> <mat-icon matListIcon>check_box </mat-icon> Time clock </mat-list-item>
          <mat-list-item> <mat-icon matListIcon>check_box </mat-icon>POS Integration</mat-list-item>
        </mat-list>
      </mat-card-content>
        <mat-card-actions> <button (click)="choosePlan(medium)" mat-button color ="primary"> Choose Plan </button> </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile role="listitem">
      <mat-card>
        <mat-card-title id="header-1"> Large </mat-card-title>
        <mat-card-content>
        <span id="header-2" >$26.99/Month</span>
        <mat-list id="list-features">
          <span>Includes:</span>
          <mat-list-item> <mat-icon matListIcon>check_box </mat-icon>All features included in Medium </mat-list-item>
          <mat-list-item> <mat-icon matListIcon>check_box </mat-icon>Unlimited employees</mat-list-item>
          <mat-list-item> <mat-icon matListIcon>check_box </mat-icon>Payroll generator</mat-list-item>
          <mat-list-item> <mat-icon matListIcon>check_box </mat-icon>Free mobile Apps</mat-list-item>
        </mat-list>
      </mat-card-content>
        <mat-card-actions> <button (click)="choosePlan(large)" mat-button color ="primary"> Choose Plan </button> </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>
