<ActionBar>
    <StackLayout orientation="horizontal" horizontalAlignment="left">
        <Image></Image>
        <Button text='Thanh Quan'></Button>
    </StackLayout>
</ActionBar>

<StackLayout class='page'>  
    <ns-manager-calendar></ns-manager-calendar>

    <StackLayout>
        <StackLayout style="background-color: antiquewhite ;" margin="20" height="100%">
            <GridLayout rows="auto" columns="*">
                <Label row="0" horizontalAlignment="right" text="Currently Working :"></Label>
                <Label row="0" horizontalAlignment="left" text="Number of worker : "></Label>
            </GridLayout>
       
            <!-- <ListView>
                <Label text='Display the current working employee'></Label>
                <Label text='Display the information of the employee'></Label>
            </ListView> -->
        </StackLayout>
    </StackLayout>
</StackLayout>
<BottomNavigation selectedIndex="0">
    <!-- Bottom Navigator ( Could change it component location ) -->
    <!-- CHANGE THIS TO ICON VIA MATERIAL.IO -->
    <TabStrip>
        <TabStripItem  >
            <Label text="Home"></Label>
            <Image  ></Image>
        </TabStripItem>
        <TabStripItem (tap)="schedule()">
            <Label text="Scheudle"></Label>
            <Image  ></Image>
        </TabStripItem>
        <TabStripItem (tap)="work_history()">
            <Label text="Work History"></Label>
            <Image  ></Image>
        </TabStripItem>
        <TabStripItem (tap)="inventory()" >
            <Label text="Inventory"></Label>
            <Image  ></Image>
        </TabStripItem>
        <TabStripItem (tap)="employee()">

            <Label text="Employee"></Label>
            <Image  ></Image>
        </TabStripItem>
    </TabStrip>
    <!-- DO NOT PUT ANYTHING IN -->
    <TabContentItem >
        <GridLayout>
        </GridLayout>
    </TabContentItem>
    <TabContentItem>
        <GridLayout>
        </GridLayout>
    </TabContentItem>
    <TabContentItem >
        <GridLayout>
        </GridLayout>
    </TabContentItem>
    <TabContentItem >
        <GridLayout>
        </GridLayout>
    </TabContentItem>
    <TabContentItem >
        <GridLayout>
        </GridLayout>
    </TabContentItem>
</BottomNavigation>