<StackLayout class='page'>
    <Button text='Profile' width=20% height=5% horizontalAlignment='left' style='border-radius: 15px; border-width: 2px;'></Button>
    <ns-manager-calendar></ns-manager-calendar>
    <StackLayout style="margin-left: 20px; margin-right: 20px;">
        <StackLayout style="background-color: antiquewhite ;">
            <GridLayout rows="auto" columns="*">
                <Label style='font-size: 14px' class='border-top-right-left' row="0"
                    horizontalAlignment="left" text="Clocked In :"></Label>
                <Label style='font-size: 14px;' class='border-top-right-left' row="0"
                    horizontalAlignment="right" text="N0 of worker : "></Label>
            </GridLayout>
        </StackLayout>
        <RadListView style=' border-width: 2px; border-bottom-right-radius: 15px; border-bottom-left-radius:15px' [items]="dummy_data" >
            <ng-template let-item="item">
                <StackLayout  orientation="horizontal">
                    <Label class="nameLabel" [text]="item.name"></Label>
                    <Label class="nameLabel" [text]="item.age"></Label>
                </StackLayout>
            </ng-template>
        </RadListView>
    </StackLayout>
</StackLayout>
<ns-manager-tab-manager></ns-manager-tab-manager>
