<StackLayout orientation='horizontal' *ngIf='ifIOS'>
    <Button text='home' [nsRouterLink]="['/manager-home']"></Button>
    <Button text='schedule' [nsRouterLink]="['/manager-schedule']"></Button>
    <Button text='history' [nsRouterLink]="['/manager-work-history']"></Button>
    <Button text='inventory' [nsRouterLink]="['/manager-inventory']"></Button>
    <Button text='employees' [nsRouterLink]="['/manager-employee-list']"></Button>
</StackLayout>


<BottomNavigation selectedIndex="0" *ngIf='ifAndroid'>

<TabStrip>
    <TabStripItem [nsRouterLink]="['/manager-home']">
        <Label text="Home"></Label>
        <Image [src]="'~/app/images/home.png'" decodeWidth="40" decodeHeight="40"></Image>
    </TabStripItem>
    <TabStripItem [nsRouterLink]="['/manager-schedule']">
        <Label text="Scheudle"></Label>
        <Image [src]="'~/app/images/schedule.png'" decodeWidth="20" decodeHeight="20"></Image>
    </TabStripItem>
    <TabStripItem [nsRouterLink]="['/manager-work-history']">
        <Label text="Work History"></Label>
        <Image [src]="'~/app/images/work_history.png'" decodeWidth="20" decodeHeight="20"></Image>
    </TabStripItem>
    <TabStripItem [nsRouterLink]="['/manager-inventory']">
        <Label text="Inventory"></Label>
        <Image [src]="'~/app/images/inventory.png'" decodeWidth="20" decodeHeight="20"></Image>
    </TabStripItem>
    <TabStripItem [nsRouterLink]="['/manager-employee-list']">
        <Label text="Employee"></Label>
        <Image [src]="'~/app/images/employees.png'" decodeWidth="20" decodeHeight="20"></Image>
    </TabStripItem>
    
</TabStrip>

<TabContentItem>
    <GridLayout>        
    </GridLayout>
</TabContentItem>
<TabContentItem>
    <GridLayout>        
    </GridLayout>
</TabContentItem>
<TabContentItem>
    <GridLayout>         
    </GridLayout>
</TabContentItem>
<TabContentItem>
    <GridLayout>         
    </GridLayout>
</TabContentItem>
<TabContentItem>
    <GridLayout>
    </GridLayout>
</TabContentItem>

</BottomNavigation>