<div class="contact-page">
  <div class="title"> 
    <p>
      Is there anything that we can help?
    </p>
    <p id="line-2">
      If yes, please leave us a message
    </p>
  </div>  
  <div class="contact-form">
    <form>
    <mat-form-field class="email">
      <mat-label> Email</mat-label>
      <input matInput placeholder="Enter your email" name="email">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" class="message">
      <mat-label>Message</mat-label>
      <input matInput placeholder="Enter your message" col="30" name="message">
    </mat-form-field>
    <button class="send-btn" color="" mat-raised-button >
      <a href="#"> <p>Send Message</p> </a>
    </button>
  </form>
  </div>
  
</div>
