#form-container{
  display: block;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: auto;
  padding:15%;

}
#login-form{
  display: inline-block;
  width: 35%;

}
#form-full-width{
  width: 100%;
}

button{
  width: 30%;
}

span{
  color:#FCBB47 ;
}
h4 {

  font-weight: bold;
  color:#3B4A6B
}

#spinner{
  width: 30%;
}
