

.profile-form{
  margin: 15% 15%;
  justify-content: center;
}

.form{
  width: 50%;
}

.formSelect{
  width: 25%;
}

h4 {

  font-weight: bold;
  color:#3B4A6B
}

button{
  position: center;
  width: 25%;

  float:center;
}
span{
  color:#FCBB47 ;
}
