
  <app-navbar></app-navbar>



      <form class="profile-form" [formGroup]='profile' >
        <h4><span>Sign up as restaurant</span> manager/owner</h4>
        <br>
        <igx-input-group class="form">
          <input igxInput name ="fullname" placeholder="Enter your name" type="text" formControlName="fullname" #fullname/>
          <label igxLabel for="fullname">Your name:</label>
        </igx-input-group>
        <br>
        <igx-input-group class="form">
          <input igxInput name="restaurant" placeholder="Enter your restaurant name" type ="text" formControlName="restaurant" #restaurant/>
          <label igxLabel for="restaurant">Enter your restaurant name:</label>
        </igx-input-group>
        <br>
        <igx-select #select class="formSelect" name="pos" >
          <label igxLabel> POS integration</label>
          <igx-select-item value = "1">Option 1</igx-select-item>
          <igx-select-item value = "2">Option 2</igx-select-item>
          <igx-select-item value = "3">Option 3</igx-select-item>
        </igx-select>

        <br><br>
        <button igxButtonColor="#3B4A6B" igxButtonBackground="#F0D43A" class="toggle-button" igxButton = "raised" igxRipple="white" type="submit" [disabled]="profile.pristine||profile.invalid" (click)= "click()" #button> Go to last step </button>
      </form>



