
li,a {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 137%;
  letter-spacing: 0.025em;
  color: #3B4A6B;
}

#navbar{
position: fixed;
max-width: 1813px;
max-height: 300px;
margin : 0 , auto;
z-index: 1;
display: flex;
width: 100%;
height: 12vh;
}


#navbar .sticky {
  background:#FDD5C8;
  position: fixed;
  height: 12vh;
  width: 100%;
}

.navbar-left{
position: relative;
float: left;
display: inline-flex;
width: 1000px;
height: 209px;
left: 53px;
top: 3px;
}

.logo{
cursor: pointer;
position: relative;
width: 150px;
height: 150px;
max-height: 150px;
max-width: 250px;
line-height: 72px;
vertical-align: middle;
}

#menu-toggle {
  display: none;
}

.nav-links{
  list-style: none;
}

.nav-links li {
  list-style: none;
  display: inline-block;
  position: relative;
  padding: 0px 20px;
  margin: 25px 25px;
}
 .nav-links li a, .dropdown .dropbtn{
text-align: center;
transition: all 0.3s ease 0s;
position: auto;
width: auto;
height: auto;
line-height: 50px;
text-decoration: none;
}

.nav-links li a:hover, .dropdown:hover .dropbtn {
  color: #0088a9
}



.dropdown-container{
  float: left;
  padding: 0px 5px;
}

.dropdown-container li{
  padding: 0px 5px;
  object-position: left;
}



.dropdown-content{
  display: none;
  position: absolute;
  background-color: rgba(21, 20, 20, 0.8);

}


.dropdown-content .dropdown-container li a{
  color: #FFFFFF;
  font-size: inherit;
  font-family: inherit;
  padding: 0px 15px;
}

.dropdown:hover .dropdown-content{
  display: block;

}

.navbar-right {
  float: right;
  overflow: hidden;
}
.navbar-right .nav-links li {
  cursor: pointer;
}

.btnTrial{
  cursor: pointer;
  border: none;
  border-radius: 40px;
  background-color: #F0D43A !important;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
  color: #3B4A6B;
  width: auto;
  height: 50px;
  transition: all 0.3s ease 0s;
  padding: 10px 10px;
}

.btnTrial:hover{
  letter-spacing: 1.5px;
  background-color: rgb(243, 221, 93) !important;
  transition: all 0.3s ease 0s;
}



@media all and (max-width:1280px)   {

  .navbar-left{
    position: relative;
    float: left;
    display: inline-flex;
    width: auto;
    height: auto;
    }

    .nav-links li {
      padding: 5px;
      margin : 5px 10px ;
    }

    .nav-links li a {
      line-height: 35px;
    }
    .btnTrial{
        margin-left: 10px;
        font-size: 15px;
        height: 35px;
    }

}

@media all and (max-width:991px){

    .navbar-right{
      float: right;
    }
    .navbar-left{
      width: 90vw;
    }

      #menu-toggle{
      display: inline-flex;
      float: right;
      padding-top: 20px;
      width: 100%;
      height: 100vh;
    }
    mat-menu{
      width: 100%;
      height: 100vh;
    }
    a{
      text-decoration: none;
      color: #3B4A6B;
    }
   mat-menu a button{
     color: #3B4A6B;
    }

    .nav-links li {
      display: none;
    }
}
@media all and (max-width: 500px){

  .navbar-right{
    float: right;
  }
  .navbar-left{
    width: 80vw;
    padding-right: 20vw;
  }



  #menu-toggle{
    padding-right: 10px;
  }
}
