<StackLayout>
    <ns-action-bar [Title]='title'></ns-action-bar>
    <GridLayout columns='*,50' rows='50' >
        <Label col='0' row='0' text='Employees List' class='header' class='header'></Label>
        <Image col='1' row='0' [src]="'~/app/images/add.png'" decodeWidth="40" decodeHeight="40" (tap)='addEmployee()'></Image>
    </GridLayout>

    <RadListView [items]="employees_info" height='80%'>
        <ng-template let-item="item">
            <StackLayout>
                <StackLayout 
                    style='border-radius: 15px; border-width: 3px;border-color: red; '>
                    <GridLayout columns="100,100,*,50" rows='25' orientation='horizontal'>
                        <Button class='edit-btn' text='Edit' col='0' row='0' (tap)='employee_detail(item)'></Button>
                        <Button col="3" row="0" style='border-width:2px ;border-radius:15px' text='X'
                            (tap)="confirmation(item)"></Button>
                    </GridLayout>
                    <StackLayout orientation='vertical'>
                        <StackLayout orientation='horizontal' class='border-top-left-right'>
                            <Label style="font-weight: bold;" text='Employee Name : '></Label>
                            <Label class="nameLabel" text="{{item.fName}}  {{item.lName}}"></Label>
                            <Label style="font-weight: bold;" text='Wage : '></Label>
                            <Label width=100%  style="font-weight: 500; text-align: center;" class="nameLabel"
                                [text]="item.wages">
                            </Label>
                        </StackLayout>
                        <StackLayout orientation='horizontal' style='border-width: 2px;'>
                            <Label style="font-weight: bold;" text='Email : '></Label>
                            <Label style='text-align: center' width='100%' class="nameLabel"
                                [text]="item.email"></Label>
                        </StackLayout>
                        <StackLayout orientation='horizontal' style='border-width: 2px;'>
                            <Label style="font-weight: bold;" text='Join Date : '></Label>
                            <Label width='100%' style="font-weight: 500; text-align: center;" class="nameLabel"
                                [text]="item.JoinDate">
                            </Label>
                        </StackLayout>
                        <StackLayout orientation='horizontal' style='border-width: 2px;'>
                            <Label style="font-weight: bold;" text='Date of Birth : '></Label>
                            <Label style='text-align: center    ' width='100%' class="nameLabel"
                                [text]="item.DOB"></Label>
                        </StackLayout>
                        <StackLayout orientation='horizontal' style='border-width: 2px;'>
                            <Label style="font-weight: bold;" text='Address : '></Label>
                            <Label width='100%' class="nameLabel" [text]="item.address">
                            </Label>
                        </StackLayout>

                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </ng-template>
    </RadListView>
    <ns-manager-tab-manager *ngIf='ifIOS'></ns-manager-tab-manager>
</StackLayout>
<ns-manager-tab-manager *ngIf='ifAndroid'></ns-manager-tab-manager>