/* Add mobile styles for the component here.  */

.border-top-bottom-right{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-width: 2px;
}
.border-top-bottom-left{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-width: 2px;
}
.border-bottom-left-right{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-width : 2px;
}
.border-top-left-right{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-width : 2px;
}
.header-container{
    background-color: #443b3b;
    color: rgb(245, 131, 131);
}
.header-title{
    font: 22px; text-align: center; margin-top: 1%;
    letter-spacing: 0.5px;
    font-weight: 400;
    text-decoration: underline;
}
.employee-option{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-width: 2px;
    margin:0;
    padding: 15px;
    background-color: rgb(250, 84, 84);
    color: white;
}
.vertical_title{
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.2;
}
.vertical_text{
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.1;
    text-align: center;
}