<BottomNavigation selectedIndex="0">
    <!-- Bottom Navigator ( Could change it component location ) -->
    <!-- CHANGE THIS TO ICON VIA MATERIAL.IO -->
    <TabStrip>
        <TabStripItem >
            <Label text="Home" ></Label>
            <Image></Image>
        </TabStripItem>
        <TabStripItem>
            <Label text="Scheudle"></Label>
            <Image></Image>
        </TabStripItem>
        <TabStripItem >
            <Label text="Inventory"></Label>
            <Image></Image>
        </TabStripItem>
        <TabStripItem >
            <Label text="Payroll"></Label>
            <Image></Image>
        </TabStripItem>
    </TabStrip>


    <!-- CONTENT OF THE NAVIGATOR -->
    <!-- HOME CONTENT -->
    <TabContentItem>
        <GridLayout>
            <ns-employee-home></ns-employee-home>
        </GridLayout>
    </TabContentItem>

    <!-- SCHEDULE PAGE LINK VIA ROUTING -->
    <TabContentItem>
        <GridLayout>
            <ns-employee-schedule-view></ns-employee-schedule-view>
        </GridLayout>
    </TabContentItem>

    <!-- INVETORY VIEW LINK VIA ROUTING -->
    <TabContentItem>
        <GridLayout>
            <Label text="Inventory Page" class="h2 text-center"></Label>
        </GridLayout>
    </TabContentItem>

    <!-- EMPLOYEE VIEW LINK VIA ROUTING -->
    <TabContentItem>
        <GridLayout>
            <ns-employee-payroll></ns-employee-payroll>
        </GridLayout>
    </TabContentItem>

</BottomNavigation>
