
DataFormEditorLabel {
    color:#D51A1A;
    font-size: 15px;
    font-weight: 500;
    font-family: "Zefani Stencil";
    position: left;
    padding: 10;
    margin-left: 5;
    width: 100;
    position: left;
}

DataFormEditorCore {
    margin-right: 20;
    padding: 10;
    border-color: rgb(52, 146, 223);
    border-width: 2px;  
    font-size: 16px;
    font-weight: 400;

}

button {
    letter-spacing: 0.5px;
    font-size: large;
    font-weight: 600;
    border-radius: 30px;
    border-width: 5px;
    border-color: #D51A1A;
    background-color: rgb(228, 112, 112);
    width: 70%;
    horizontal-align: center;
}