<StackLayout class="page">
    <StackLayout class="margin" style="margin-top: 50px;">
        <label class="bold" text="Sign up for ResTaskest" ></label>
    </StackLayout>
    <StackLayout class="margin">
        <TextField hint='Email' keyboardType="email"></TextField>
        <TextField hint='Password' secure='true'></TextField>
        <TextField hint='Phone'></TextField>
    </StackLayout>
    <!-- <CheckBox:CheckBox text="I have read and agree to the Terms of Use and Privacy Policy" checked="false" /> -->
    <StackLayout class="margin">
        <button class="btn-rounded-lg" text="Create my accout"></button>
    </StackLayout>
</StackLayout>