/* Add mobile styles for the component here.  */
.margin{
    margin: 25px;
}
label.bold{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
TextField{
    padding: 25px;
}
button { 
    background-color:rgba(216, 146, 15, 0.89);
    color:white;
    margin: 50px;
    margin-left: 100px;
    margin-right: 100px;
}