<div id="trialPage">
<app-navbar></app-navbar>
<div class="registerForm">

    <form class="register-form" [formGroup]='user' >
      <h4><span>Sign up as restaurant</span> manager/owner</h4>

      <igx-input-group class="form">
        <label igxLabel for="email">Email:</label>
        <input igxInput name="email" type ="text" formControlName="email"/>

      </igx-input-group>

      <igx-input-group class="form">
        <label igxLabel for="password">Password:</label>
        <input igxInput name="password" type ="password" formControlName="password"/>
      </igx-input-group>

      <br><br>
      <button igxButton = "raised" igxRipple="white" (click)="signUp()" type="submit" >Next</button>
    </form>
</div>
</div>
