

.registerForm{
  padding: 15% 15%;
  margin: 0 auto;
  
}

.form {
  width: 25%;

}

h4 {

  font-weight: bold;
  color:#3B4A6B
}
button{

  position: center;
  float:center;
  width: 25%;

}
span{
  color:#FCBB47 ;
}
igx-hint{
  width: 100%;
}
