<BottomNavigation selectedIndex="0">
    <!-- Bottom Navigator ( Could change it component location ) -->
    <!-- CHANGE THIS TO ICON VIA MATERIAL.IO -->
    <TabStrip>
        <TabStripItem >
            <Label text="Home" ></Label>
            <Image  ></Image>
        </TabStripItem>
        <TabStripItem>
            <Label text="Scheudle"></Label>
            <Image  ></Image>
        </TabStripItem>
        <TabStripItem >
            <Label text="Work History"></Label>
            <Image  ></Image>
        </TabStripItem>
        <TabStripItem >
            <Label text="Inventory"></Label>
            <Image  ></Image>
        </TabStripItem>
        <TabStripItem >

            <Label text="Employee"></Label>
            <Image  ></Image>
        </TabStripItem>

        
    </TabStrip>


    <!-- CONTENT OF THE NAVIGATOR -->
    <!-- HOME CONTENT -->
    <TabContentItem>
        <GridLayout>
            <ns-manager-home></ns-manager-home>
        </GridLayout>
    </TabContentItem>

    <!-- SCHEDULE PAGE LINK VIA ROUTING -->
    <TabContentItem>
        <GridLayout>
            <ns-manager-schedule></ns-manager-schedule>
        </GridLayout>
    </TabContentItem>

    <!-- WORKING HISTORY/CLOCK HISTORY LINK VIA ROUTING -->
    <TabContentItem>
        <GridLayout>
            <ns-manager-work-history></ns-manager-work-history>
        </GridLayout>
    </TabContentItem>

    <!-- INVETORY VIEW LINK VIA ROUTING -->
    <TabContentItem>
        <GridLayout>
            <Label text="Inventory Page" class="h2 text-center"></Label>
        </GridLayout>
    </TabContentItem>

    <!-- EMPLOYEE VIEW LINK VIA ROUTING -->
    <TabContentItem>
        <GridLayout>
            <Label text="Employee" class="h2 text-center"></Label>
        </GridLayout>
    </TabContentItem>

</BottomNavigation>