/* Add mobile styles for the component here.  */
.center{
    text-align: center;
}
label#name{
    font-weight: bold;
    font-size: 25px;
    color: brown;
}
Button{
    border-width: 3;
    border-color: black;
    border-radius: 40;
    background-color: whitesmoke;
    color: brown;
    text-align: left;
    font-size: large;
}