<app-navbar></app-navbar>
<div class="form-container">
<mat-horizontal-stepper  #stepper>

  <mat-step [stepControl]="user">
    <form [formGroup] = 'user'>
      <ng-template matStepLabel>Fill out your first name and last name</ng-template>
      <h4><span>Sign up as restaurant</span> manager/owner</h4>
      <mat-form-field class="form-full-width">
        <mat-label>Enter your first name</mat-label>
        <input matInput formControlName="fName" name="fName" type="text" #fName>
      </mat-form-field>
      <br>
      <mat-form-field  class="form-full-width">
        <mat-label>Enter your last name</mat-label>
        <input matInput formControlName="lName" name="lName" type="text" #lName>
      </mat-form-field>
      <br><br>
      <button id="btnNext" color="primary" mat-button matStepperNext>Next</button>
    </form>
  </mat-step>

  <mat-step [stepControl]="profile">
    <form [formGroup] = 'profile'>
      <ng-template matStepLabel>Fill out your restaurant information</ng-template>
      <h4><span>Sign up as restaurant</span> manager/owner</h4>
      <mat-form-field  class="form-full-width">
        <mat-label>Enter your restaurant name</mat-label>
        <input matInput formControlName="restaurant" name="restaurant" type="text" #restaurant>
      </mat-form-field>
      <br>
      <mat-form-field  class="form-full-width">
        <mat-label>Enter your restaurant address</mat-label>
        <input matInput formControlName="address" name="address" type="text" #address>
      </mat-form-field>
      <br>
      <mat-form-field class="form-full-width">
        <mat-label> POS integration: </mat-label>
        <mat-select formControlName='pos' name="pos" #pos>
          <mat-option *ngFor='let item of posLists' [value]="item.value">
            {{item.view}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br><br>
      <button id="btnBack" color="primary" mat-button matStepperPrevious>Back</button>
      <button id="btnNext" color="primary" mat-button matStepperNext>Next</button>

    </form>
  </mat-step>

  <mat-step [stepControl]="user">
    <form [formGroup] = 'user'>
      <ng-template matStepLabel>Fill out your email and password</ng-template>
      <h4><span>Sign up as restaurant</span> manager/owner</h4>
      <mat-form-field  class="form-full-width">
        <mat-label>Enter your email</mat-label>
        <input matInput formControlName="email" name="email" type="text" #email>
      </mat-form-field>
      <br>
      <mat-form-field  class="form-full-width">
        <mat-label>Enter your password</mat-label>
        <input matInput formControlName="password" name="password" type="password" #password>
      </mat-form-field>
      <br>
      <mat-form-field  class="form-full-width">
        <mat-label>Enter your password again</mat-label>
        <input matInput formControlName="confirm" name="confirm" type="password" #confirm>
      </mat-form-field>
      <br><br>
      <button id="btnBack" color="primary" mat-button matStepperPrevious>Back</button>
      <button id="btnNext" color="primary" (click) = "onClick(fName,lName,restaurant,address,pos,email,password,confirm)" mat-button >Finish</button>

    </form>
  </mat-step>


</mat-horizontal-stepper>
</div>
