
<div class="main-container">
<div class="header">
<nav class="nav-bar">
  <nav class='navbar-left'>
      <a href="#home"><img class='logo' src="../assets/images/restaskestLogo.png" alt='logo'></a>
      <ul class="nav-links">
          <li class="dropdown">
            <a href="javascript:void(0)" class='dropbtn'>Features</a>
          <div class="dropdown-content">
            <ul class =dropdown-container>
            <li><a href="#dashboard">Dashboard</a></li>
            <li><a href="#inventory">Inventory</a></li>
            <li><a href="#schedule">Schedule</a></li>
            <li><a href="#paystub">Paystub </a></li>
          </ul>
          </div>
        </li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Contact Us</a></li>
      </ul>
  </nav>
  <nav class="navbar-right">
    <ul class="nav-links">
      <li><a>Login</a></li>
      <li><button class="btnTrial"> Start Your Free 30-Day Trial</button></li>
    </ul>

  </nav>
</nav>
</div>
<section id="home">
  <app-mainlanding></app-mainlanding>
</section> 
<section id="dashboard">
  <app-dashboard></app-dashboard>
</section>
<section id="inventory">
  <app-inventory></app-inventory>
</section>
<section id="schedule">
  <app-schedule></app-schedule>
</section>
<section id="paystub">
  <app-paystub></app-paystub>
</section>
<section id="contact">
<app-contact-us></app-contact-us>

<footer>
  <div class="footer-logo">
    <img src="../assets/images/restaskestLogo.png" alt="logo"> 
  </div>
  <div class="footer-content">
  <div class="footer-features">
    <div class="content">
      <p class="header">Features</p>
      <p>Dashboard </p><p> InventoryCompiling </p> <p>Employee Scheduling </p><p>Paystub Generator</p>
    </div>
  </div>
  <div class="footer-company">
    <div class="content">
      <p class="header">Company</p>
      <p>About Us</p><p>Customers</p><p>Media</p><p>Pricing</p><p>Legal</p>
    </div>
  </div>
  <div class="contact-us">
    <div class="content">
      <p class="header">Contact Us</p>
      <p>Phone: 1-466-666-666</p>
      <p>Email: info@restaskest.io</p>
    </div>
  </div>
</div>
</footer>

</section>


</div>
