<div class="contact-page">
  <div class="title">
    <p>
      Is there anything that we can help?
    </p>
    <p id="line-2">
      If yes, please leave us a message
    </p>
  </div>
  <div class="contact-form">
    <form>
    <mat-form-field class="email">
      <mat-label> Email</mat-label>
      <input matInput placeholder="Enter your email" name="email">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" class="message">
      <mat-label>Message</mat-label>
      <input matInput placeholder="Enter your message" col="30" name="message">
    </mat-form-field>
    <button class="send-btn" color="" mat-raised-button >
      <a href="#"> <p>Send Message</p> </a>
    </button>
  </form>
  </div>

</div>

<div class="footer">
  <mat-grid-list cols="4" rowHeigh="2:1">
    <mat-grid-tile>
<img src="../assets/images/restaskestLogo.png" alt="logo">
    </mat-grid-tile>

    <mat-grid-tile>
      <p id="title">Features</p>
    </mat-grid-tile>

    <mat-grid-tile>
      <p id="title">Company</p>
    </mat-grid-tile>

    <mat-grid-tile>
      <p id="title"> Contact Us</p>
    </mat-grid-tile>

    <mat-grid-tile>

    </mat-grid-tile>

    <mat-grid-tile>
      <ul id="list-content">
        <li>Dashboard</li>
        <li>Inventory</li>
        <li>Compiling</li>
        <li>Employee</li>
        <li>Scheduling</li>
        <li>Paystub</li>
        <li>Generator</li>
      </ul>
    </mat-grid-tile>

  <mat-grid-tile>
    <ul id="list-content">
      <li>About Us</li>
      <li>Customers</li>
      <li>Media</li>
      <li>Pricing</li>
      <li>Legal</li>

    </ul>
  </mat-grid-tile>

    <mat-grid-tile>
      <ul id="list-content">
        <li>Phone: +1 (416)666-666</li>
        <li>Email: info@restaskest.io</li>
      </ul>
    </mat-grid-tile>


  </mat-grid-list>

</div>
