<ActionBar title="ResTaskkest">
    <StackLayout orientation="horizontal"
      ios:horizontalAlignment="center"
      android:horizontalAlignment="left">
      <Image src="../images/back_arrow_white.png"  (tap)='welcome()'></Image>
      <Label text="ResTaskkest" class="action-label"></Label>
    </StackLayout>
  </ActionBar>
<StackLayout>
    <Label text='ResTaskkest'></Label>
    <Label text='Welcome to the login page'> Welcome to the login page </Label>
    <TextField hint='Your Email Address' keyboardType="email"></TextField>
    <TextField hint='Password' secure='true'></TextField>
    <Button class='-primary -rounded-lg' style="background-color: aquamarine;" text=' Sign in as manager'></Button>
    <Button class='-primary -rounded-lg' style="background-color: red;"  text=' Sign in as a staff member'></Button>
</StackLayout>
