<div class = "schedule-page">
  <div class="schedule-intro">
    <p id="first-line">Scheduling appropriately</p>
    <p id="second-line">in a few clicks</p>
    <br><br>
    <p>Human resources is the key success of every business. Understand that, we provide businesses with a clean shift scheduling function to help reduce labour cost</p>
 
  <br><br>
  <button mat-raised-button class="explore-btn">
    <a href="#"> <p>Explore scheduling tools</p> </a>
  </button>
</div>
  <div class="schedule-img">
    <img src="../../assets/images/schedule.png" alt="schedule image">
  </div>
</div>