<div class="paystub-page">
  <div class="paystub-img"> <img src="../../assets/images/paystub.png" alt="paystub image"></div>
  <div class="paystub-intro"> 
    <p class="header"> <span id="split-header"> Employees paystub is generated </span> with a click</p>  
    
    <p>Human resources is the key success of every business. Understand that, we provide businesses with a clean shift scheduling function to help reduce labour cost</p>
    <br><br>
    <button mat-raised-button class="explore-btn">
    <a href="#"> <p>Explore paystub generator</p> </a>
  </button>
  </div>
  
</div>