/* Add mobile styles for the component here.  */
label{
    text-align: center;
}
label#header{
    font-weight: bold;
    font-size: xx-large;
}
label#center{
    padding: 70px 0;
    font-weight: bold;
    font-size: 25px;
    color: rebeccapurple;
}
button{
    width: 100%;
}
/* Add mobile styles for the component here.  */
.center{
    text-align: center;
    padding: 10px;
}
.inventory-header{
    text-align: center;
    font-size: 32px;
    padding: 20px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 500;
}

.border-top-bottom-right{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-width: 2px;
}
.border-top-bottom-left{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-width: 2px;
}