<GridLayout rows="*" columns="*">
    <Image></Image>
    <Label text='Name'></Label>
    <Label text='Position'></Label>
    <Label text='Clock in Time'></Label>
    <Label text='Clock out Time'></Label>
    <Label text='Pay rate'></Label>
    <Label text='Total Current Period Earning'></Label>
    <Label text='Schedule Period ( Week / Bi-Week / Days / Months / Years )'></Label>
    <!-- This calendar is change by the weekly/montly and so on to fit the clock in and clock out of each days for how many days posible maximum of one year -->
    <RadCalendar viewMode='Days' ></RadCalendar>
</GridLayout>