<ActionBar>
    <Label text='Schedule'></Label>
    <Button text='Publish' style="width: 20px"></Button>
    <Button text='Add Schedule'style="width: 20px"></Button>
</ActionBar>
<StackLayout>
    <ns-manager-calendar (timeEvent)='receive_current_time($event)' ></ns-manager-calendar>
    <RadListView [items]="temp_dataItems">
        <ng-template  let-item="item">
            <StackLayout orientation="vertical">
                <Label class="nameLabel" [text]="item.name"></Label>  
                <Label class="nameLabel" [text]="item.start_time"></Label>
                <Label class="nameLabel" [text]="item.end_time"></Label>
                <Label class="nameLabel" [text]="item.position"></Label> 
                <Label class="nameLabel" [text]="item.date"></Label>                
            </StackLayout>
        </ng-template>
    </RadListView>
</StackLayout>
<BottomNavigation selectedIndex="1">
    <!-- Bottom Navigator ( Could change it component location ) -->
    <!-- CHANGE THIS TO ICON VIA MATERIAL.IO -->
    <TabStrip>
        <TabStripItem (tap)="home()" >
            <Label text="Home"></Label>
            <Image  ></Image>
        </TabStripItem>
        <TabStripItem>
            <Label text="Scheudle"></Label>
            <Image  ></Image>
        </TabStripItem>
        <TabStripItem >
            <Label text="Work History"></Label>
            <Image  ></Image>
        </TabStripItem>
        <TabStripItem >
            <Label text="Inventory"></Label>
            <Image  ></Image>
        </TabStripItem>
        <TabStripItem >

            <Label text="Employee"></Label>
            <Image  ></Image>
        </TabStripItem>
    </TabStrip>
    <!-- DO NOT PUT ANYTHING IN -->
    <TabContentItem class="first-tabcontent">
        <GridLayout>
        </GridLayout>
    </TabContentItem>
    <TabContentItem class="second-tabcontent">
        <GridLayout>
        </GridLayout>
    </TabContentItem>
    <TabContentItem class="third-tabcontent">
        <GridLayout>
        </GridLayout>
    </TabContentItem>
</BottomNavigation>