
.container{
    border-radius: 15px;
     border-width: 3px;
}
.del-button{
    border-width:2px ;
    border-radius:15px;
    background-color:#f84242;
    color:white;
}
.border-top-bottom-right{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-width: 3px;
}
.border-top-bottom-left{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-width: 3px;
}

.title{
    font-family: 'Open Sans';
    font-size: large;
    font-weight: 600;
    letter-spacing: 0.2px;
}
.description{
    font-family: "Zefani Stencil";
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.3px;
}