

.border-top-bottom-right{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-width: 2px;
}
.border-top-bottom-left{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-width: 2px;
}