



  <section id="home">
    <app-mainlanding></app-mainlanding>
  </section>

  <section id="dashboard">
    <app-dashboard></app-dashboard>
  </section>

  <section id="inventory">
    <app-inventory></app-inventory>
  </section>

  <section id="schedule">
    <app-schedule></app-schedule>
  </section>

  <section id="paystub">
    <app-paystub></app-paystub>
  </section>

  <section id="contact">
  <app-contact-us> </app-contact-us>

  <footer>
    <div class="footer-logo">
      <img src="../assets/images/restaskestLogo.png" alt="logo">
    </div>
    <div class="footer-content">
    <div class="footer-features">
      <div class="content">
        <p class="header">Features</p>
        <a><p>Dashboard </p></a>
        <a><p>Dashboard </p></a>
        <p>Employee Scheduling </p>
        <p>Paystub Generator</p>
      </div>
    </div>
    <div class="footer-company">
      <div class="content">
        <p class="header">Company</p>
        <p>About Us</p><p>Customers</p><p>Media</p><p>Pricing</p><p>Legal</p>
      </div>
    </div>
    <div class="contact-us">
      <div class="content">
        <p class="header">Contact Us</p>
        <p>Phone: 1-466-666-666</p>
        <p>Email: info@restaskest.io</p>
      </div>
    </div>
  </div>
  </footer>

  </section>


  <script>
    $(window).on("scroll", () =>{
      if($(window).scrollTop()){
        $('nav-bar').addClass('black')
      }
      else{
        $('nav-bar').removeClass('black')
      }
    })

  </script>
