<FlexboxLayout class="page">
    <StackLayout class="form">
        <StackLayout class="input-field">
            <GridLayout columns='*,20' rows='50'>
                <TextField col='0' row='0' class="input" hint="Email" keyboardType="email" autocorrect="false"
                    autocapitalizationType="none" returnKeyType="next"></TextField>
                <Image col='1' row='0' [src]="'~/app/images/email.png'" decodeWidth="40" decodeHeight="40" width=100% height=100%
                    horizontalAlignment=left></Image>
            </GridLayout>
            <Label style='font: 11px; letter-spacing: 0.2; font-weight: 300; text-align: center;'
                text='Provide your email for reseting password'></Label>
        </StackLayout>
        
    </StackLayout>

</FlexboxLayout>