
<StackLayout>
    <StackLayout orientation='horizontal'>
        <Button style='border-radius: 15px;' text='Pick A Date Range' [nsRouterLink]="['/manager-date-range']"></Button>
        <Label style='border-width: 2px; border-radius: 15px; margin: 3%; width:60%; text-align: center; font-weight: 800;' text='{{selected_date_range}}'></Label>
    </StackLayout>
   
    <RadListView [items]="work_history" height='75%'>
        <ng-template let-item="item">
            <StackLayout>
                <StackLayout backgroundColor='#d9d9d9' style='border-radius: 15px; border-width: 3px;'>
                    <StackLayout orientation='horizontal'>
                        <StackLayout class='border-top-bottom-left' width='50%' orientation='horizontal'>
                            <Label style="font-weight: bold;" text='Staff Name : '></Label>
                            <Label class="nameLabel" [text]="item.name"></Label>
                        </StackLayout>
                        <StackLayout class='border-top-bottom-right' width='50%' orientation='horizontal'>
                            <Label style="font-weight: bold;" text='Position : '></Label>
                            <Label style="font-weight: 500; text-align: center;" class="nameLabel" [text]="item.position"></Label>
                        </StackLayout>
                    </StackLayout>
                    <StackLayout orientation='horizontal'>
                        <StackLayout class='border-top-bottom-left' width='50%' orientation='horizontal'>
                            <Label style="font-weight: bold;" text='Total Earning : '></Label>
                            <Label class="nameLabel" [text]="item.total_earning"></Label>
                        </StackLayout>
                        <StackLayout class='border-top-bottom-right' width='50%' orientation='horizontal'>
                            <Label text='Work Hour'></Label>
                            <Label class="nameLabel" [text]="item.work_hour"></Label>
                        </StackLayout>
                    </StackLayout>
                    <StackLayout orientation='horizontal'>
                        <StackLayout class='border-top-bottom-left' width='100%' orientation='horizontal'>
                            <Label style="font-weight: bold;" text='Date : '></Label>
                            <Label class="nameLabel" [text]="item.date"></Label>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </ng-template>
    </RadListView>

    <GridLayout columns="auto,*,auto" rows="auto,auto" style=' margin-left: 5%; margin-right: 5%; margin-top:2%; border-width: 2px ; border-radius: 15px;'> 
        <Label style='margin-left: 10%;' col='0' row='0' text='Total hour'></Label>
        <Label style='margin-right: 10%;' col='1' row='0' text=' Total Labour Cost' horizontalAlignment="right"></Label>
        <Label style='margin-left: 10%;' col='0' row='1' text='31.72h'></Label>
        <Label style='margin-right: 10%;' col='1' row='1' text='721.00$' horizontalAlignment="right"></Label>
    </GridLayout>
    <ns-manager-tab-manager *ngIf='ifIOS'></ns-manager-tab-manager>
</StackLayout>
<ns-manager-tab-manager *ngIf='ifAndroid'></ns-manager-tab-manager>