<StackLayout>
    <StackLayout orientation='horizontal'>
        <Button text='Today'></Button>
        <Button text='Yesterday'></Button>
        <Button text='Bi-weekly'></Button>
        <Button text='Monthly'></Button>
        <Button text='Year'></Button>
    </StackLayout>
    <StackLayout orientation='horizontal'>
        <TextField hint="Wed Jan 01 2010" 
           secure="false"
           returnKeyType="done" 
           maxLength="15">
        </TextField>
        <Button text='search'></Button>
    </StackLayout>
    <StackLayout>
        <Label text=' Use nosql command'></Label>
    </StackLayout>
    <StackLayout>
        <Label text=' Total hour and Total Money'></Label>
    </StackLayout>
    <ns-manager-tab-manager></ns-manager-tab-manager>
</StackLayout>
