/* Add mobile styles for the component here.  */


.btn-location{
    letter-spacing: 0.3px;
    margin-bottom: 20;
    border-radius: 15px;
    border-width: 2px;
    font: 14;
    font-weight: 500;
    background-color: #eae7dc;
}