<StackLayout class="Page">
    <ns-action-bar [Title]='title'></ns-action-bar>
    <StackLayout style="height: 14%;">
        <label class="center" style="color: rgb(100, 0, 17); font-size: 28px;" text="Your schedule for this week"></label>
        <label class="center" style="font-size: x-large;" text="{{firstday}} -> {{lastday}}"></label>
    </StackLayout>
    <RadListView [items]="employee_weekly_schedule" height='67%'>
        <ng-template let-item="item">
            <StackLayout  style="margin-top: 20%;">
            <GridLayout  class='detail' columns="25,100,*,100,100" rows='50' orientation='horizontal'>
                <Label col='1'  [text]="item.date.toString().substr(0,10)"></Label>
                <Label col='3'  [text]="item.startTime"></Label>
                <Label col='4'  [text]="item.endTime"></Label>
            </GridLayout>
        </StackLayout>
        </ng-template>
    </RadListView>

    <ns-employee-tab-manager *ngIf='ifIOS'></ns-employee-tab-manager>
</StackLayout>
<ns-employee-tab-manager *ngIf='ifAndroid'></ns-employee-tab-manager>