/* Add mobile styles for the component here.  */
.center{
    text-align: center;
    padding: 10px;
}

.header{
    border-width: 5px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.inventory-header{
    text-align: center;
    font-size: 32px;
    padding: 20px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.detail-header{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-width: 2px;
    background-color: #f84242;
    color: white;
}
.detail-content{
    background-color: #443b3b;
    color: white;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-width: 2px;
}
.content{
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.2px;
}
