<StackLayout class="Page">
    <StackLayout>
        <ns-action-bar></ns-action-bar>
    </StackLayout>
    <StackLayout style="height: 90%;">
        <label class="center" style="color: darkgreen; font-size: 28px;" text = "Your schedule for this week"></label>
        <label class="center" style="font-size: x-large;" text="{{Week_begin}} -> {{Week_end}}"></label>
    </StackLayout>
    <StackLayout style="background-color: black;">
        <ns-employee-tab-manager></ns-employee-tab-manager>
    </StackLayout>
</StackLayout>
