/* Add mobile styles for the component here.  */
.center{
    text-align: center;
    padding: 10px;
}
.inventory-header{
    text-align: center;
    font-size: 32px;
    padding: 20px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 500;
}

.detail{
    font-size:18px;
    font-weight: 500px;
    letter-spacing: 0.1px;
    border-width: 5px;
    border-color: rgb(250, 84, 84);
    margin-bottom: 5%;
}
