<StackLayout class="Page">
    <ns-action-bar [Title]='title'></ns-action-bar>
    <StackLayout class='header' style="height: 14%;">
        <label class="center" style="color: rgb(100, 0, 17); font-size: 28px;" text="Weekly Schedule"></label>
        <label class="center" style="font-size: 20rem;" text="{{firstday}} to {{lastday}}"></label>
    </StackLayout>
    <RadListView [items]="employee_weekly_schedule" height='75%'>
        <ng-template let-item="item">
            <StackLayout  style="margin-top: 20%;">
            <StackLayout  class='detail-header' orientation='horizontal'>
                <Label class='content' style='font-size: 17px;'  text='Date : {{item.date.toString().substr(0,10)}} ' ></Label>
            </StackLayout>
            <GridLayout columns='200,*,200' rows='30,30' class='detail-content'>
                <Label class='content' col='0' row='0' text='Start Time '></Label>
                <Label class='content' col='2' row='0' text='Stop Time '></Label>
                <Label class='content' col='0' row='1' text="{{item.startTime}} {{timeperiod(item.startTime)}}"></Label>
                <Label class='content' col='2' row='1' text="{{item.endTime}} {{timeperiod(item.endTime)}}"></Label>
            </GridLayout>
        </StackLayout>
        </ng-template>
    </RadListView>

    <ns-employee-tab-manager *ngIf='ifIOS'></ns-employee-tab-manager>
</StackLayout>
<ns-employee-tab-manager *ngIf='ifAndroid'></ns-employee-tab-manager>