<div class="inventory-page">
  <div class="inventory-image"> <img src="../../assets/images/Inventory.png" alt="inventory-image"></div>
  <div class="inventory-intro">
      <p id="first-line">Compiling inventory</p>
      <p id="second-line">cannot be easier</p>
      <span></span>
      <p>We understand the cumbersomeness of inventory compiling. Therefore, we release a feature to increase the communication between back-of-house employees and managers when compiling inventory.
          <span><br><br></span>
        By using this feature, employees will spend 60% time less to get their job done, and restaurant can save 10% of the resource waste</p>
        <br><br>
        <button mat-raised-button class="explore-inventory">
          <a routerLink="/signup"> <p>Start exploring inventory too!</p> </a>
        </button>
      </div>
</div>
